{% extends 'base.html.twig' %}

{% block title %}Série
	{{ program.title }}
{% endblock %}

{% block body %}
	<div class="media">
		<h1 class="mt-0">{{ program.title }}</h1>
		<h2>Saison
			{{ season.number }}</h2>
		<h3>Episode :
			{{ episode.number }}
			- 
									Titre :
			{{ episode.title}}
		</h3>
		<p>
			Résumé :
			{{ episode.synopsis}}</p>

		<h3>Liste des commentaires</h3>
		<table class="table">
			<thead>
			<tr>
				<th>Auteur</th>
				<th>Commentaire</th>
				<th>Rate</th>

			</tr>
			</thead>
			<tbody>
		{% for comment in episode.comments %}
			<tr>
			<td> {{ comment.author.email }} </td>
			<td> {{ comment.comment }}</td>
			<td> {{ comment.rate }}</td>
			</tr>

		{% else %}
			<tr>
				<td colspan="3">pas de commentaires</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>

		<p>
		{% if app.user %}
				<a href ="{{ path("app_comment_new", {episodeId:episode.id})}}"> Ajouter un commentaire </a>
		{% endif %}

		</p>


	</div>

	<p>
		<a href="{{ path("program_season_show", { programId: program.id, seasonId: season.id } ) }}">
			Retour à la liste des saisons de la série
		</a>
	</p>
{% endblock %}
